@charset "utf-8";

@import "_reset";
@import "_color";
@import "_mixin";

$buttonShadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);

/*一般のスタイル*/

html, body {
    width: 100%;
}

.user-header {
    position: fixed;
    box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
    background-color: #fff;
    padding: 0 50px;
    width: 100%;
    height: 50px;

    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px;
    }

    &__title {
        font-weight: bold;
        font-size: 30px;
    }

    &__link {
        color: #222;

        &--title {
            color: #e67e22;
        }
    }

    &__item {
        i {
            color: #222;
        }

        &:first-child {
            margin-right: auto;
        }

        &:not(:first-child):not(:last-child) {
            margin-right: 20px;
        }
    }

    //スマホサイズ
    @media(max-width: 650px) {
        padding: 0 10px;

        &__text {
            display: none;
        }
    }
}

.user-main {
    padding-top: 50px;
    background-color: #f2f2f2;

    &--pt100 {
        padding-top: 100px;
    }

    &__section {
        &--p50 {
            padding: 50px;

            //スマホサイズ
            @media(max-width: 650px) {
                padding: 50px 10px;
            }
        }

        //左右のみ余白
        &--plr50 {
            padding: 0 50px;

            //スマホサイズ
            @media(max-width: 650px) {
                padding: 0 10px;
            }
        }

        &--bg-orange {
            background-color: #FF5E3A;
        }

        &:not(:last-child){
            margin-bottom: 50px;
        }

        &:last-child {
            padding-bottom: 50px;
        }
    }

    &__title {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: bolder;

        &--fc-white {
            color: #fff;
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-ticket-top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;

        @media(min-width: 500px) {
            justify-content: flex-end;
            padding: 50px 50px;

            &__title {
                margin-right: auto;
            }
        }

        @media(max-width: 500px) {
            padding: 50px 10px;

            &__title, &__total, &__reset, &__button {
                margin-bottom: 10px;
            }
        }

        &__title {
            font-size: 30px;
            font-weight: bold;
        }

        &__total {
            margin-right: 30px;
            font-weight: bold;
            font-size: 20px;
        }

        &__reset {
            @include button(#e74c3c, none, auto, 50px, 20px, #fff);
            margin-right: 30px;

            &:hover {
                @include button(#c0392b, none, auto, 50px, 20px, #fff);
            }
        }

        &__button {
            @include button($primaryColor, none, auto, 50px, 20px, #fff);

            &:hover {
                @include button($darkPrimaryColor, none, auto, 50px, 20px, #fff);
            }
        }
    }

    &-msg {
        background-color: $dividerColor;
        border-radius: 3px;
        padding: 10px;
        color: $primaryText;
        line-height: 20px;

        @media(max-width: 650px) {
            margin: 50px 10px 20px 10px;
        }

        @media(min-width: 650px) {
            margin: 50px 50px 20px 50px;
        }

        &__link {
            color: $primaryText;
            text-decoration: underline;
        }
    }
    &-form {
        &__section {
            @media(min-width: 500px) {
                padding: 0 50px 30px 50px;
            }
            @media(max-width: 500px) {
                padding: 0 10px 30px 10px;
            }
        }
        &__item {
            margin-bottom: 10px;
        }
        &__title {
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: bold;
        }
        &__text {
            @include formInput(#fff, none, 250px, 50px, 20px, $primaryText, 1em);
        }
    }
    &__no-card {
        @media(min-width: 500px) {
            padding: 0 50px 50px 50px;
        }
        @media(max-width: 500px) {
            padding: 0 10px 50px 10px;
        }
    }
    table {
        width: 100%;
        tr {
            th, td {
                padding: 10px;
            }
            th {
                border-bottom: solid 2px #222;
            }
            td {
                border-bottom: solid 1px #222;
                a {
                    color: #222;
                }
            }
        }
    }
}

.user-main-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/images/index_bg.jpg");
    background-position: center;
    width: 100%;
    height: 300px;

    &__desc {
        margin-bottom: 30px;
        padding: 0 10px;
        line-height: 60px;
        font-size: 50px;
        font-weight: bold;
        color: #fff;
    }

    &__sub-desc {
        padding: 0 10px;
        line-height: 22px;
        font-size: 18px;
        color: #fff;
    }

    &__link {
        color: #fff;
        text-decoration: underline;
    }
}

.user-main-search {
    &__unit {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 15px;
        font-size: 20px;
        color: #fff;
    }

    &__list {
        display: flex;

        //スマホサイズ
        @media(max-width: 650px) {
            display: block;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 30px;

            //スマホサイズ
            @media(max-width: 1200px) {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }

        span {
            margin-right: 10px;
            color: #fff;
        }
    }

    &__button {
        display: block;
        background-color: #fff;
        border: none;
        border-radius: 3px;
        box-shadow: $buttonShadow;
        width: 160px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        color: #ff5e3a;
    }

    &__input {
        @include formInput(#fff, none, 300px, 50px, 20px, $primaryText, 1em);

        &--small {
            width: 250px;
        }
    }
}

.user-footer{
    width: 100%;
    background-color: #fff;
    padding: 30px 0 30px 0;
    nav{
        margin-bottom: 30px;
    }
    h3{
        width: 100%;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        color: #222;
    }
    nav ul{
        width: 100%;
    }
    nav ul li{
        color: #222;
    }
    nav ul li a{
        font-size: 14px;
        line-height: 22px;
        color: #222;
    }
    p{
        width: 100%;
        text-align: center;
        color: #222;
    }
    @media(min-width: 500px) {
        nav ul {
            display: flex;
            justify-content: center;
            li {
                margin-right: 10px;
            }
        }
    }
    @media(max-width: 500px) {
        nav ul li {
            text-align: center;
        }
    }
}

.user-mypage {
    background-color: #f2f2f2;
    padding: 100px 0 50px 0;

    &-section {
        width: 100%;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        @media(max-width: 650px) {
            padding: 0 10px;
        }
        @media(min-width: 650px) {
            padding: 0 50px;
        }
        &__title {
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: bold;
        }
        &__description {
            margin-bottom: 20px;
        }
        &__cancel {
            @include button(#e74c3c, none, auto, 50px, 20px, #fff);
            margin-right: 30px;
            &:hover {
                @include button(#c0392b, none, auto, 50px, 20px, #fff);
            }
            &--one {
                color: #fff !important;
                margin-right: 0;
                @include button(#e74c3c, none, auto, 30px, 20px, #fff);
                &:hover {
                    @include button(#c0392b, none, auto, 30px, 20px, #fff);
                }
                min-width: 120px;
            }
        }
        &__consent {
            @include button($primaryColor, none, auto, 50px, 20px, #fff);
            &:hover {
                @include button($darkPrimaryColor, none, auto, 50px, 20px, #fff);
            }
        }
        &__confirm {
            display: flex;
        }
    }
}

.user-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    &__title {
        text-align: center;
        font-size: 30px;
        color: #222;
        margin: 30px 0;
    }
    &__err {
        margin-bottom: 30px;
        text-align: center;
        color: #222;
    }
    &-form {
        &__item {
            text-align: center;
            margin-bottom: 30px;
        }
        &__text {
            @include formInput(#fff, none, 300px, 50px, 20px, $primaryText, 1em);
        }
        &__submit {
            @include formInput(#fff, (solid 2px $accentColor), 300px, 50px, 20px, $accentColor, none);
            transition: background-color 0.5s linear, color 0.5s linear;
            &:hover {
                @include formInput($accentColor, none, 300px, 50px, 20px, #fff, none);
            }
        }
    }
    &__link {
        margin-bottom: 10px;
        text-align: center;
        a {
            color: #222;
        }
    }
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    &--admin {
        height: calc(100vh - 100px);
        background-color: $darkPrimaryColor;
        height: 100vh;
    }
    &__title {
        text-align: center;
        font-size: 30px;
        color: #fff;
        margin-bottom: 50px;
    }
    &__err {
        margin-bottom: 30px;
        text-align: center;
        color: #fff;
    }
    &-form {
        &__item {
            text-align: center;
            margin-bottom: 30px;
        }
        &__text {
            @include formInput(#fff, none, 300px, 50px, 20px, $primaryText, 1em);
        }
        &__submit {
            @include formInput(#fff, none, 300px, 50px, 20px, $primaryText, none);
            transition: background-color 0.5s linear, color 0.5s linear;
            &:hover {
                @include formInput($accentColor, none, 300px, 50px, 20px, #fff, none);
            }
        }
    }
    &__link {
        margin-bottom: 10px;
        text-align: center;
        a {
            color: #fff;
        }
    }
}

.store-header {
    padding: 50px;

    //スマホサイズ
    @media(max-width: 650px) {
        padding: 50px 10px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;

        //スマホサイズ
        @media(max-width: 650px) {
            display: block;
        }
    }

    &__title {
        font-size: 30px;

        @media(max-width: 650px) {
            margin-bottom: 20px;
        }
    }

    &__button {
        display: block;
        background-color: #fff;
        border: solid 2px #e67e22;
        border-radius: 3px;
        box-shadow: $buttonShadow;
        width: 160px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        color: #e67e22;

        &.is-follow, &:hover {
            background-color: #e67e22;
            color: #fff;
        }
    }
}

.store-nav {
    width: 100%;
    height: 50px;

    &__list {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &__item {
        border-bottom: solid 2px #ccc;
        height: 100%;

        &.is-show {
            border-bottom: solid 2px #3F51B5;
        }
    }

    &__link {
        display: block;
        padding: 0 20px;
        height: 100%;
        line-height: 50px;
        color: #222;
    }
}

.store-info {
    padding: 0 50px 50px 50px;

    //スマホサイズ
    @media(max-width: 650px) {
        padding: 0 10px 50px 10px;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

//管理画面汎用ヘッダー
.admin-header {
    width: 100%;
    height: 80px;
    &__list {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        background-color: $primaryColor;
        z-index: 1000;
    }
    &__item {
        height: 80px;
        color: #fff;
        font-size: 16px;
        line-height: 80px;
        text-align: center;
        &--title {
            min-width: 300px;
            background-color: $darkPrimaryColor;
            font-size: 20px;
            color: #fff;
        }
        &--page-title {
            margin-left: 30px;
        }
        &--user {
            height: 80px;
            margin: 0 30px 0 auto;
            i {
                margin-right: 10px;
            }
        }
    }
    &__sub-list {
        background: $primaryColor;
        width: 200px;
        height: 160px;
        display: none;
        position: absolute;
        right: 0px;
    }
    &__sub-item {
        height: 80px;
        text-align: center;
        a{
            display: block;
            color: #fff;
            line-height: 80px;
        }
    }
}

.admin-content {
    display: flex;
    width: 100%;
}

//管理画面汎用グローバルナビゲーション
.admin-gnav {
    background-color: $primaryColor;
    position: fixed;
    min-width: 300px;
    height: calc(100vh - 80px);
    overflow:auto;
    overflow-y:scroll;
    overflow-x:hidden;
    &__list {
    }
    &__item {
        height: 50px;
    }
    &__text{
        display: block;
        height: 50px;
        padding: 0 0 0 10px ;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 50px;
        i {
            margin-right: 10px;
        }
        &:hover{
            background-color: $darkPrimaryColor;
            cursor: pointer;
        }
    }
}

.admin-main {
    background-color: #f2f2f2;
    margin-left: 300px;
    padding: 30px;
    width: calc(100% - 300px);
    height: calc(100vh - 80px);
    overflow-y: scroll;
    &-top {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        width: 100%;
        &-form {
            &__text {
                @include formInput(#fff, none, 500px, 50px, 20px, $primaryText, 1em);
            }
            &__submit {
                @include formInput($primaryColor, none, 100px, 50px, 20px, #fff, none);
                &:hover {
                    @include formInput($darkPrimaryColor, none, 100px, 50px, 20px, #fff, none);
                }
            }
        }
        &__button {
            @include button($primaryColor, none, auto, 50px, 20px, #fff);
            &:hover {
                @include button($darkPrimaryColor, none, auto, 50px, 20px, #fff);
            }
        }
    }
    table {
        width: 100%;
        tr th {
            border-bottom: solid 2px #222;
            padding: 10px;
        }
        tr td {
            border-bottom: solid 1px #222;
            padding: 10px;
        }
    }
    &__title {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: bold;
        color: $primaryText;
    }
    &__menu {
        display: flex;
        flex-wrap: wrap;
    }
    &-form {
        &__item {
            margin-bottom: 30px;
        }
        &__title {
            margin-bottom: 10px;
            font-size: 20px;
            color: $primaryText;
        }
        &__text {
            @include formInput(#fff, none, 800px, 50px, 20px, $primaryText, 1em);
        }
        &__file {
            display: flex;
            align-items: center;
            &-button {
                @include button(#fff, none, 200px, 50px, 20px, $dividerColor);
                margin-right: 20px;
                &:hover {
                    @include button($dividerColor, none, 200px, 50px, 20px, #fff);
                }
            }
            &-input {
                display: none;
            }
            &-name {
                font-size: 20px;
            }
        }
        &__submit {
            @include formInput($primaryColor, none, 100px, 50px, 20px, #fff, none);
            &:hover {
                @include formInput($darkPrimaryColor, none, 100px, 50px, 20px, #fff, none);
            }
        }
    }
    &-disp {
        &__item {
            margin-bottom: 30px;
        }
        &__title {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: bold;
            color: $primaryText;
        }
        &__value {
            font-size: 30px;
        }
        &__button {
            @include button($primaryColor, none, 200px, 50px, 20px, #fff);
            &:hover {
                @include button($darkPrimaryColor, none, 200px, 50px, 20px, #fff);
            }
        }
    }
    &-section {
        margin-bottom: 50px;
    }
    &-status {
        display: flex;
        &__button1 {
            @include button($primaryColor, none, auto, 30px, 20px, #fff);
            margin-right: 20px;
            &:hover {
                @include button($darkPrimaryColor, none, auto, 30px, 20px, #fff);
            }
        }
        &__button2 {
            @include button(#e74c3c, none, auto, 30px, 20px, #fff);
            &:hover {
                @include button(#c0392b, none, auto, 30px, 20px, #fff);
            }
        }
    }
}

//新規加盟企業登録
.application {
    width: 100%;
    &_header {
        margin: 50px 0;
        //height: 100px;
        &_ttl {
            width: 100%;
            height: 50px;
            margin: 0 auto;
            text-align: center;
            line-height: 50px;
            color: $primaryText;
        }
        &_breadcrumbs {
            display: flex;
            width: 100%;
            //height: 50px;
            line-height: 50px;
            color: $primaryText;
            @media(min-width: 565px) {
                justify-content: center;
            }
            @media(max-width: 565px) {
                flex-direction: column;
                align-items: center;
            }
            &_item {
                &:not(:last-child)::after {
                    content: "\003e";
                    margin: 0 10px;
                }
                &_now {
                    color: #EEA34A;
                }
            }
        }
    }
    &-main {
        &-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__description {
                margin-bottom: 50px;
                font-size: 40px;
                font-weight: bold;
                line-height: 50px;
                text-align: left;
                color: $primaryText;
            }
            &__section {
                margin-bottom: 50px;
                width: 300px;
            }
            &__title {
                margin-bottom: 30px;
                font-size: 20px;
                font-weight: bold;
            }
            &__item {
                margin-bottom: 20px;
            }
            &__sub-title {
                margin-bottom: 10px;
            }
            &__text {
                @include formInput(#fff, (solid 1px $dividerColor), 300px, 50px, 20px, $primaryText, 1em);
            }
            &__submit {
                @include formInput($primaryColor, none, 300px, 50px, 20px, #fff, none);
                margin-bottom: 50px;
                &:hover {
                    @include formInput($darkPrimaryColor, none, 300px, 50px, 20px, #fff, none);
                }
            }
            &__button {
                @include button($primaryColor, none, 200px, 50px, 20px, #fff);
                margin-bottom: 50px;
                &:hover {
                    @include button($darkPrimaryColor, none, 200px, 50px, 20px, #fff);
                }
            }
        }
        &-disp {
            &__value {
                font-size: 30px;
                line-height: 50px;
            }
        }
    }
}

//メニューカード
.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
    margin: 10px;
    width: 300px;
    overflow: hidden;

    &__image {
        border-radius: 3px 3px 0 0;
        width: 300px;
    }

    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        width: 100%;
        height: 40px;
    }

    &__name, &__price {
        font-size: 20px;
        color: #222;
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px 0;
        width: 100%;
    }
    &-form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        &__number {
            @include formInput(#fff, none, 100px, 50px, 20px, $primaryText, 1em);
            margin-right: 10px;
            text-align: center;
            font-weight: bold;
        }
        &__unit {
            margin-right: 10px;
            font-size: 20px;
            color: #fff;
        }
        &__submit {
            @include formInput(#e67e22, none, 100px, 50px, 20px, #fff, none);
            &:hover {
                @include formInput(#e67e22, none, 100px, 50px, 20px, #fff, none);
                cursor: pointer;
            }
        }
    }
    &__button {
        @include button($primaryColor, none, auto, 50px, 20px, #fff);
        margin-bottom: 10px;
        &:hover {
            @include button($darkPrimaryColor, none, auto, 50px, 20px, #fff);
        }
    }
    &__delete {
        @include button(#e74c3c, none, 240px, 50px, 20px, #fff);
        margin-top: 10px;
        &:hover {
            @include button(#c0392b, none, 240px, 50px, 20px, #fff);
        }
    }
}

.menu-detail-breadcrumbs {
    padding: 50px 50px 0 50px;
    width: 100%;
    font-size: 20px;

    &__link {
        color: #222;
        text-decoration: underline;
    }

    //スマホサイズ
    @media(max-width: 650px) {
        padding: 50px 10px 0 10px;
    }
}

.menu-detail {
    display: flex;
    width: 100%;
    padding: 50px;

    //スマホサイズ
    @media(max-width: 650px) {
        display: block;
        padding: 50px 10px;
    }

    &__left-container, &__right-container {
        width: 50%;

        //スマホサイズ
        @media(max-width: 650px) {
            width: 100%;
        }
    }

    &__right-container {
        padding-left: 30px;

        //スマホサイズ
        @media(max-width: 650px) {
            padding-top: 30px;
            padding-left: 0;
        }
    }

    &__image {
        width: 100%;
    }

    &__name {
        margin-bottom: 30px;
        width: 100%;
        font-size: 30px;
    }

    &__price {
        margin-bottom: 30px;
        width: 100%;
        font-size: 20px;
    }

    &__number {
        margin-bottom: 30px;
        width: 100%;
    }

    &__input {
        @include formInput(#fff, none, 100px, 50px, 20px, $primaryText, 1em);
        margin-right: 10px;
        text-align: center;
        font-weight: bold;
    }

    &__submit {
        display: block;
        background-color: #e67e22;
        border: none;
        border-radius: 3px;
        box-shadow: $buttonShadow;
        width: 160px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        color: #fff;
    }
}

.store-card {
    background-color: #fff;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    width: 300px;
    height: 50px;
    &__name {
        display: block;
        width: 300px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        font-weight: bold;
        color: #222;
    }
}

.order-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    &__section {
        @media(min-width: 500px) {
            margin: 50px;
            min-width: calc((100% - 200px) / 2);
        }
        @media(max-width: 500px) {
            margin: 10px;
            min-width: calc((100% - 40px) / 2);
        }

        &--bg {
            background-color: #fff;
            border-radius: 3px;
            padding: 20px;
        }
    }

    &__title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
    }
}

.order-main-content {
    border-bottom: solid 1px #222;

    &__list {
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        line-height: 30px;

        &:first-child {
            margin-right: auto;
        }

        &:nth-child(2) {
            margin-right: 10px;
        }
    }
}

.order-main-due {
    display: flex;
    justify-content: space-between;

    &__item {
        line-height: 50px;
        font-size: 20px;
        font-weight: bold;

        &--center {
            margin: 0 auto;
        }
    }

    &--mb {
        margin-bottom: 50px;
    }
}

.order-main-btn-list {
    width: 100%;

    &__item {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__reset {
        @include button(#e74c3c, none, 100%, 50px, 20px, #fff);
        &:hover {
            @include button(#c0392b, none, 100%, 50px, 20px, #fff);
        }
    }
    &__button {
        @include button($primaryColor, none, 100%, 50px, 20px, #fff);
        &:hover {
            @include button($darkPrimaryColor, none, 100%, 50px, 20px, #fff);
        }
    }
}

.system-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    width: 100%;
    height: 50px;

    &__title {
        width: calc(100% - 50px);
        height: 100%;
        line-height: 50px;
        font-size: 20px;
        color: #fff;
    }
}

.system-header-gnav-trigger,
.system-header-gnav-trigger span {
    display: inline-block;
    transition: all .4s;
}

.system-header-gnav-trigger {
    position: relative;
    width: 50px;
    height: 100%;

    span {
        position: absolute;
        left: 15px;
        background-color: #fff;
        width: 20px;
        height: 2px;

        &:nth-of-type(1) {
            top: 18px;
        }

        &:nth-of-type(2) {
            top: 25px;
        }

        &:nth-of-type(3) {
            top: 32px;
        }
    }

    &.is-active {
        span:nth-of-type(1) {
            transform: translateY(7px) rotate(-45deg);
        }

        span:nth-of-type(2) {
            left: 50%;
            opacity: 0;
            animation: active-menu .8s forwards;
        }

        span:nth-of-type(3) {
          transform: translateY(-7px) rotate(45deg);
        }
    }

    @media(min-width: 900px) {
        display: none;
    }
}

@keyframes active-menu {
    100% {
        height: 0;
    }
}

.system-gnav {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 2;
    background-color: #222;
    width: 300px;
    height: calc(100vh - 50px);

    &__item {
        padding: 0 10px;
        height: 50px;
        line-height: 50px;
        color: #fff;
    }

    &.is-show {
        display: block;
    }

    @media(min-width: 900px) {
        display: block;
    }
}

.system-main {
    width: 100%;
    padding-top: 50px;
}

.order-card-container {
    margin-bottom: 30px;
}

.order-card {
    background-color: #fff;
    border-radius: 2px;
    width: 300px;

    &__link {
        display: block;
        padding: 20px;
        width: 100%;
        height: 100%;
    }

    &__num {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #ccc;
        font-size: 30px;
        color: #333;
    }

    &__time, &__place {
        color: #333;
        line-height: 25px;

        i {
            margin-right: 10px;
        }
    }
}

.list-menu {
    background-color: #fff;
    width: 300px;

    //スマホサイズ
    @media(max-width: 650px) {
        width: 100%;
    }

    &__item {
        width: 100%;

        &:not(:last-child) {
            border-bottom: solid 2px #f2f2f2;
        }
    }

    &__link {
        display: block;
        padding: 10px 20px;
        width: 100%;
        line-height: 25px;
        color: #333;

        &--red {
            color: #e74c3c;
        }
    }
}

.news-list {
    &__unit {
        border-left: solid 4px #e74c3c;
        padding-left: 20px;
    }

    &__title {
        line-height: 30px;
        font-size: 20px;
        font-weight: bold;
        color: #222;
    }

    &__date {
        line-height: 30px;
        color: #999;
    }

    &__content {
        padding-left: 24px;
        line-height: 25px;

        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}
