//https://www.materialpalette.com/indigo/light-green
$darkPrimaryColor: #303F9F;
$lightPrimaryColor: #C5CAE9;
$primaryColor: #3F51B5;
$textIcons: #FFFFFF;
$accentColor: #8BC34A;
$primaryText: #212121;
$secondaryText: #757575;
$dividerColor: #BDBDBD;

@charset "utf-8";

@import "compass/reset";

//ios Safari reset
input[type="submit"], [type="button"] {
    -webkit-appearance: none;
}

@mixin formInput($bgColor, $border, $width, $height, $fontSize, $textColor, $textIndent) {
    background-color: $bgColor;
    border: $border;
    border-radius: 3px;
    width: $width;
    height: $height;
    font-size: $fontSize;
    color: $textColor;
    text-indent: $textIndent;
}

@mixin button($bgColor, $border, $width, $height, $fontSize, $textColor) {
    display: block;
    background-color: $bgColor;
    border: $border;
    border-radius: 3px;
    padding: 0 10px;
    width: $width;
    height: $height;
    color: $textColor;
    text-align: center;
    font-size: $fontSize;
    line-height: $height;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, div, li, input, p, span, a {
    font-family: "Noto Sans Japanese";
}

/*一般のスタイル*/

html, body {
    width: 100%;
}

.user-header {
    position: fixed;
    box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);
    background-color: #fff;
    padding: 0 50px;
    width: 100%;
    height: 50px;
    &__title {
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        a {
            color: #e67e22;
        }
    }
    &__list {
        display: flex;
        align-items: center;
        height: 50px;
    }
    &__item {
        color: #222;
        a, i {
            color: #222;
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    //スマホサイズ
    @media(max-width: 650px) {
        padding: 0 10px;
        height: 100px;
        &__list {
            justify-content: space-between;
        }
        &__search-text {
            display: none;
        }
        &__name {
            display: block;
        }
    }
    @media(min-width: 650px) {
        &__title {
            margin-right: auto;
        }
        &__nav {
            display: flex;
            justify-content: flex-end;
        }
        &__name {
            margin-right: 10px;
        }
    }
}

.user-main {
    padding-top: 50px;
    @media(max-width: 500px) {
        padding-top: 100px;
    }
    background-color: #f2f2f2;
    &-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url("/images/index_bg.jpg");
        background-position: center;
        margin-bottom: 50px;
        width: 100%;
        height: 500px;
        &__desc {
            margin-bottom: 30px;
            padding: 0 10px;
            line-height: 60px;
            font-size: 50px;
            font-weight: bold;
            color: #fff;
        }
        &__sub-desc {
            margin-bottom: 50px;
            padding: 0 10px;
            line-height: 22px;
            font-size: 18px;
            color: #fff;
        }
        &__link {
            color: #fff;
            text-decoration: underline;
        }
    }
    &-search {
        display: flex;
        justify-content: center;
        padding: 0 10px;
        width: 100%;
        &__text {
            @include formInput(#fff, none, 60%, 50px, 20px, $primaryText, 1em);
        }
        &__submit {
            @include formInput(#e67e22, none, 100px, 50px, 20px, #fff, none);
            &:hover {
                opacity: 0.8;
            }
        }
        @media(min-width: 500px) {
            &__text {
                margin-right: 20px;
            }
        }
        @media(min-width: 900px) {
            &__form {
                display: flex;
            }
        }
        @media(max-width: 500px) {
            flex-wrap: wrap;
            &__text {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-ticket-top {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        @media(min-width: 500px) {
            justify-content: flex-end;
            padding: 50px 50px;
            &__title {
                margin-right: auto;
            }
        }
        @media(max-width: 500px) {
            padding: 50px 10px;
            &__title, &__total, &__reset, &__button {
                margin-bottom: 10px;
            }
        }
        &__title {
            font-size: 30px;
            font-weight: bold;
        }
        &__total {
            margin-right: 30px;
            font-weight: bold;
            font-size: 20px;
        }
        &__reset {
            @include button(#e74c3c, none, auto, 50px, 20px, #fff);
            margin-right: 30px;
            &:hover {
                @include button(#c0392b, none, auto, 50px, 20px, #fff);
            }
        }
        &__button {
            @include button($primaryColor, none, auto, 50px, 20px, #fff);
            &:hover {
                @include button($darkPrimaryColor, none, auto, 50px, 20px, #fff);
            }
        }
    }
    &-msg {
        background-color: $dividerColor;
        border-radius: 3px;
        padding: 10px;
        color: $primaryText;
        @media(max-width: 650px) {
            margin: 0 10px 20px 10px;
        }
        @media(min-width: 650px) {
            margin: 0 50px 20px 50px;
        }
        &__link {
            color: $primaryText;
            text-decoration: underline;
        }
    }
    &-form {
        &__section {
            @media(min-width: 500px) {
                padding: 0 50px 30px 50px;
            }
            @media(max-width: 500px) {
                padding: 0 10px 30px 10px;
            }
        }
        &__item {
            margin-bottom: 10px;
        }
        &__title {
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: bold;
        }
        &__text {
            @include formInput(#fff, none, 250px, 50px, 20px, $primaryText, 1em);
        }
    }
    &__no-card {
        @media(min-width: 500px) {
            padding: 0 50px 50px 50px;
        }
        @media(max-width: 500px) {
            padding: 0 10px 50px 10px;
        }
    }
    table {
        width: 100%;
        tr {
            th, td {
                padding: 10px;
            }
            th {
                border-bottom: solid 2px #222;
            }
            td {
                border-bottom: solid 1px #222;
                a {
                    color: #222;
                }
            }
        }
    }
}

.user-footer{
    width: 100%;
    background-color: #fff;
    padding: 30px 0 30px 0;
    nav{
        margin-bottom: 30px;
    }
    h3{
        width: 100%;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;
        color: #222;
    }
    nav ul{
        width: 100%;
    }
    nav ul li{
        color: #222;
    }
    nav ul li a{
        font-size: 14px;
        line-height: 22px;
        color: #222;
    }
    p{
        width: 100%;
        text-align: center;
        color: #222;
    }
    @media(min-width: 500px) {
        nav ul {
            display: flex;
            justify-content: center;
            li {
                margin-right: 10px;
            }
        }
    }
    @media(max-width: 500px) {
        nav ul li {
            text-align: center;
        }
    }
}

.user-mypage {
    background-color: #f2f2f2;
    padding: 100px 0 50px 0;
    @media(max-width: 650px) {
        padding: 150px 0 50px 0;
    }
    &-section {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        @media(max-width: 650px) {
            padding: 0 10px;
        }
        @media(min-width: 650px) {
            padding: 0 50px;
        }
        &__title {
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: bold;
        }
        &__description {
            margin-bottom: 20px;
        }
        &__cancel {
            @include button(#e74c3c, none, 130px, 50px, 20px, #fff);
            margin-right: 30px;
            &:hover {
                @include button(#c0392b, none, 130px, 50px, 20px, #fff);
            }
        }
        &__consent {
            @include button($primaryColor, none, 130px, 50px, 20px, #fff);
            &:hover {
                @include button($darkPrimaryColor, none, 130px, 50px, 20px, #fff);
            }
        }
        &__confirm {
            display: flex;
        }
    }
}

.user-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    &__title {
        text-align: center;
        font-size: 30px;
        color: #222;
        margin: 30px 0;
    }
    &__err {
        margin-bottom: 30px;
        text-align: center;
        color: #222;
    }
    &-form {
        &__item {
            text-align: center;
            margin-bottom: 30px;
        }
        &__text {
            @include formInput(#fff, none, 300px, 50px, 20px, $primaryText, 1em);
        }
        &__submit {
            @include formInput(#fff, (solid 2px $accentColor), 300px, 50px, 20px, $accentColor, none);
            transition: background-color 0.5s linear, color 0.5s linear;
            &:hover {
                @include formInput($accentColor, none, 300px, 50px, 20px, #fff, none);
            }
        }
    }
    &__link {
        margin-bottom: 10px;
        text-align: center;
        a {
            color: #222;
        }
    }
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    &--admin {
        height: calc(100vh - 100px);
        background-color: $darkPrimaryColor;
        height: 100vh;
    }
    &__title {
        text-align: center;
        font-size: 30px;
        color: #fff;
        margin-bottom: 50px;
    }
    &__err {
        margin-bottom: 30px;
        text-align: center;
        color: #fff;
    }
    &-form {
        &__item {
            text-align: center;
            margin-bottom: 30px;
        }
        &__text {
            @include formInput(#fff, none, 300px, 50px, 20px, $primaryText, 1em);
        }
        &__submit {
            @include formInput(#fff, none, 300px, 50px, 20px, $primaryText, none);
            transition: background-color 0.5s linear, color 0.5s linear;
            &:hover {
                @include formInput($accentColor, none, 300px, 50px, 20px, #fff, none);
            }
        }
    }
    &__link {
        margin-bottom: 10px;
        text-align: center;
        a {
            color: #fff;
        }
    }
}

//管理画面汎用ヘッダー
.admin-header {
    width: 100%;
    height: 80px;
    &__list {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        background-color: $primaryColor;
        z-index: 1000;
    }
    &__item {
        height: 80px;
        color: #fff;
        font-size: 16px;
        line-height: 80px;
        text-align: center;
        &--title {
            min-width: 300px;
            background-color: $darkPrimaryColor;
            font-size: 20px;
            color: #fff;
        }
        &--page-title {
            margin-left: 30px;
        }
        &--user {
            height: 80px;
            margin: 0 30px 0 auto;
            i {
                margin-right: 10px;
            }
        }
    }
    &__sub-list {
        background: $primaryColor;
        width: 200px;
        height: 160px;
        display: none;
        position: absolute;
        right: 0px;
    }
    &__sub-item {
        height: 80px;
        text-align: center;
        a{
            display: block;
            color: #fff;
            line-height: 80px;
        }
    }
}

.admin-content {
    display: flex;
    width: 100%;
}

//管理画面汎用グローバルナビゲーション
.admin-gnav {
    background-color: $primaryColor;
    position: fixed;
    min-width: 300px;
    height: calc(100vh - 80px);
    overflow:auto;
    overflow-y:scroll;
    overflow-x:hidden;
    &__list {
    }
    &__item {
        height: 50px;
    }
    &__text{
        display: block;
        height: 50px;
        padding: 0 0 0 10px ;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 50px;
        i {
            margin-right: 10px;
        }
        &:hover{
            background-color: $darkPrimaryColor;
            cursor: pointer;
        }
    }
}

.admin-main {
    background-color: #f2f2f2;
    margin-left: 300px;
    padding: 30px;
    width: calc(100% - 300px);
    height: calc(100vh - 80px);
    overflow-y: scroll;
    &-top {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        width: 100%;
        &-form {
            &__text {
                @include formInput(#fff, none, 500px, 50px, 20px, $primaryText, 1em);
            }
            &__submit {
                @include formInput($primaryColor, none, 100px, 50px, 20px, #fff, none);
                &:hover {
                    @include formInput($darkPrimaryColor, none, 100px, 50px, 20px, #fff, none);
                }
            }
        }
        &__button {
            @include button($primaryColor, none, auto, 50px, 20px, #fff);
            &:hover {
                @include button($darkPrimaryColor, none, auto, 50px, 20px, #fff);
            }
        }
    }
    table {
        width: 100%;
        tr th {
            border-bottom: solid 2px #222;
            padding: 10px;
        }
        tr td {
            border-bottom: solid 1px #222;
            padding: 10px;
        }
    }
    &__title {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: bold;
        color: $primaryText;
    }
    &__menu {
        display: flex;
        flex-wrap: wrap;
    }
    &-form {
        &__item {
            margin-bottom: 30px;
        }
        &__title {
            margin-bottom: 10px;
            font-size: 20px;
            color: $primaryText;
        }
        &__text {
            @include formInput(#fff, none, 800px, 50px, 20px, $primaryText, 1em);
        }
        &__file {
            display: flex;
            align-items: center;
            &-button {
                @include button(#fff, none, 200px, 50px, 20px, $dividerColor);
                margin-right: 20px;
                &:hover {
                    @include button($dividerColor, none, 200px, 50px, 20px, #fff);
                }
            }
            &-input {
                display: none;
            }
            &-name {
                font-size: 20px;
            }
        }
        &__submit {
            @include formInput($primaryColor, none, 100px, 50px, 20px, #fff, none);
            &:hover {
                @include formInput($darkPrimaryColor, none, 100px, 50px, 20px, #fff, none);
            }
        }
    }
    &-disp {
        &__item {
            margin-bottom: 30px;
        }
        &__title {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: bold;
            color: $primaryText;
        }
        &__value {
            font-size: 30px;
        }
        &__button {
            @include button($primaryColor, none, 200px, 50px, 20px, #fff);
            &:hover {
                @include button($darkPrimaryColor, none, 200px, 50px, 20px, #fff);
            }
        }
    }
    &-section {
        margin-bottom: 50px;
    }
    &-status {
        display: flex;
        &__button1 {
            @include button($primaryColor, none, auto, 30px, 20px, #fff);
            margin-right: 20px;
            &:hover {
                @include button($darkPrimaryColor, none, auto, 30px, 20px, #fff);
            }
        }
        &__button2 {
            @include button(#e74c3c, none, auto, 30px, 20px, #fff);
            &:hover {
                @include button(#c0392b, none, auto, 30px, 20px, #fff);
            }
        }
    }
}

//新規加盟企業登録
.application {
    width: 100%;
    &_header {
        margin: 50px 0;
        //height: 100px;
        &_ttl {
            width: 100%;
            height: 50px;
            margin: 0 auto;
            text-align: center;
            line-height: 50px;
            color: $primaryText;
        }
        &_breadcrumbs {
            display: flex;
            width: 100%;
            //height: 50px;
            line-height: 50px;
            color: $primaryText;
            @media(min-width: 565px) {
                justify-content: center;
            }
            @media(max-width: 565px) {
                flex-direction: column;
                align-items: center;
            }
            &_item {
                &:not(:last-child)::after {
                    content: "\003e";
                    margin: 0 10px;
                }
                &_now {
                    color: #EEA34A;
                }
            }
        }
    }
    &-main {
        &-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__description {
                margin-bottom: 50px;
                font-size: 40px;
                font-weight: bold;
                line-height: 50px;
                text-align: left;
                color: $primaryText;
            }
            &__section {
                margin-bottom: 50px;
                width: 300px;
            }
            &__title {
                margin-bottom: 30px;
                font-size: 20px;
                font-weight: bold;
            }
            &__item {
                margin-bottom: 20px;
            }
            &__sub-title {
                margin-bottom: 10px;
            }
            &__text {
                @include formInput(#fff, (solid 1px $dividerColor), 300px, 50px, 20px, $primaryText, 1em);
            }
            &__submit {
                @include formInput($primaryColor, none, 300px, 50px, 20px, #fff, none);
                margin-bottom: 50px;
                &:hover {
                    @include formInput($darkPrimaryColor, none, 300px, 50px, 20px, #fff, none);
                }
            }
            &__button {
                @include button($primaryColor, none, 200px, 50px, 20px, #fff);
                margin-bottom: 50px;
                &:hover {
                    @include button($darkPrimaryColor, none, 200px, 50px, 20px, #fff);
                }
            }
        }
        &-disp {
            &__value {
                font-size: 30px;
                line-height: 50px;
            }
        }
    }
}

//メニューカード
.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px;
    width: 300px;
    overflow: hidden;
    &__image {
        border-radius: 5px 5px 0 0;
        width: 300px;
    }
    &__name {
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
    }
    &__price {
        line-height: 36px;
    }
    &-form {
        margin-bottom: 10px;
        &__number {
            @include formInput(#fff, (solid 1px $dividerColor), 70px, 50px, 20px, $primaryText, 1em);
            text-align: center;
            font-weight: bold;
        }
        &__submit {
            @include formInput($primaryColor, none, 100px, 50px, 20px, #fff, none);
            &:hover {
                @include formInput($darkPrimaryColor, none, 100px, 50px, 20px, #fff, none);
            }
        }
    }
    &__button {
        @include button($primaryColor, none, auto, 50px, 20px, #fff);
        margin-bottom: 10px;
        &:hover {
            @include button($darkPrimaryColor, none, auto, 50px, 20px, #fff);
        }
    }
    &__delete {
        @include button(#e74c3c, none, 200px, 50px, 20px, #fff);
        margin-bottom: 10px;
        &:hover {
            @include button(#c0392b, none, 200px, 50px, 20px, #fff);
        }
    }
}

.store-card {
    background-color: #fff;
    justify-content: center;
    height: 336px;
    .user-main-ticket-top__title {
        margin-right: 0;
        margin-bottom: 30px;
    }
    &__button {
        @include button(#fff, (solid 2px #e67e22), auto, 50px, 20px, #e67e22);
        transition: all .3s linear;
        &:hover {
            @include button(#e67e22, none, auto, 50px, 20px, #fff);
        }
    }
}
