//https://www.materialpalette.com/indigo/light-green
$darkPrimaryColor: #303F9F;
$lightPrimaryColor: #C5CAE9;
$primaryColor: #3F51B5;
$textIcons: #FFFFFF;
$accentColor: #8BC34A;
$primaryText: #212121;
$secondaryText: #757575;
$dividerColor: #BDBDBD;

@charset "utf-8";

@import "compass/reset";

@mixin formInput($bgColor, $border, $width, $height, $fontSize, $textColor, $textIndent) {
    background-color: $bgColor;
    border: $border;
    border-radius: 3px;
    width: $width;
    height: $height;
    font-size: $fontSize;
    color: $textColor;
    text-indent: $textIndent;
}

@mixin button($bgColor, $border, $width, $height, $fontSize, $textColor) {
    display: block;
    background-color: $bgColor;
    border: $border;
    border-radius: 3px;
    padding: 0 10px;
    width: $width;
    height: $height;
    color: $textColor;
    text-align: center;
    font-size: $fontSize;
    line-height: $height;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/*一般のスタイル*/

html, body{
    width: 100%;
}

.user_header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #e67e22;
    h1{
        width: 20%;
        height: 50px;
        color: #FFFFFF;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
    }
    nav{
        width: 80%;
        height: 50px;
    }
    nav ul{
        display: flex;
        justify-content: flex-end;
    }
    nav ul li{
        height: 50px;
        margin: 0 10px 0 0;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 50px;
    }
    nav ul li a{
        color: #FFFFFF;
        font-size: 16px;
        line-height: 50px;
    }
}

.user-main {
    padding: 50px;
    &__search {
        margin-bottom: 50px;
    }
}

.user_footer{
    width: 100%;
    background-color: #e67e22;
    padding: 30px 0 30px 0;
    nav{
        display: flex;
        width: 60%;
        margin: 0 auto 30px auto;
    }
    nav ul{
        width: 25%;
    }
    nav ul h3{
        color: #FFFFFF;
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 10px 0;
    }
    nav ul li{
        height: 20px;
        margin: 0 10px 0 0;
    }
    nav ul li a{
        color: #FFFFFF;
        font-size: 14px;
        line-height: 20px;
    }
    p{
        width: 100%;
        color: #FFFFFF;
        text-align: center;
    }
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e67e22;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    &--admin {
        background-color: $darkPrimaryColor;
    }
    &__title {
        text-align: center;
        font-size: 30px;
        color: #fff;
        margin-bottom: 50px;
    }
    &__err {
        margin-bottom: 30px;
        text-align: center;
        color: #fff;
    }
    &-form {
        &__item {
            text-align: center;
            margin-bottom: 30px;
        }
        &__text {
            @include formInput(#fff, none, 400px, 50px, 20px, $primaryText, 1em);
            max-width: 400px;
            @media(max-width: 400px){
                width: 100%;
            }
        }
        &__submit {
            @include formInput(#fff, none, 400px, 50px, 20px, $primaryText, none);
            max-width: 400px;
            @media(max-width: 400px){
                width: 100%;
            }
            transition: background-color 0.5s linear, color 0.5s linear;
            &:hover {
                @include formInput($accentColor, none, 400px, 50px, 20px, #fff, none);
            }
        }
    }
    &__link {
        margin-bottom: 10px;
        text-align: center;
        a {
            color: #fff;
        }
    }
}

//管理画面汎用ヘッダー
.admin-header {
    width: 100%;
    height: 80px;
    &__list {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        background-color: $primaryColor;
        z-index: 1000;
    }
    &__item {
        height: 80px;
        color: #fff;
        font-size: 16px;
        line-height: 80px;
        text-align: center;
        &--title {
            min-width: 300px;
            background-color: $darkPrimaryColor;
            font-size: 20px;
            color: #fff;
        }
        &--page-title {
            margin-left: 30px;
        }
        &--user {
            height: 80px;
            margin: 0 30px 0 auto;
            i {
                margin-right: 10px;
            }
        }
    }
    &__sub-list {
        background: $primaryColor;
        width: 200px;
        height: 160px;
        display: none;
        position: absolute;
        right: 0px;
    }
    &__sub-item {
        height: 80px;
        text-align: center;
        a{
            display: block;
            color: #fff;
            line-height: 80px;
        }
    }
}

.admin-content {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
}

//管理画面汎用グローバルナビゲーション
.admin-gnav {
    background-color: $primaryColor;
    position: fixed;
    min-width: 300px;
    height: calc(100vh - 80px);
    overflow:auto;
    overflow-y:scroll;
    overflow-x:hidden;
    &__list {
    }
    &__item {
        height: 50px;
    }
    &__text{
        display: block;
        height: 50px;
        padding: 0 0 0 10px ;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 50px;
        i {
            margin-right: 10px;
        }
        &:hover{
            background-color: $darkPrimaryColor;
            cursor: pointer;
        }
    }
}

.admin-main {
    background-color: #fff;
    margin-left: 300px;
    padding: 30px;
    width: calc(100% - 300px);
    &-top {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        width: 100%;
        &-form {
            &__text {
                @include formInput(#fff, (solid 1px $dividerColor), 500px, 50px, 20px, $primaryText, 1em);
            }
            &__submit {
                @include formInput($primaryColor, none, 100px, 50px, 20px, #fff, none);
                &:hover {
                    @include formInput($darkPrimaryColor, none, 100px, 50px, 20px, #fff, none);
                }
            }
        }
        &__button {
            @include button($primaryColor, none, auto, 50px, 20px, #fff);
            &:hover {
                @include button($darkPrimaryColor, none, auto, 50px, 20px, #fff);
            }
        }
    }
    table {
        width: 100%;
        tr th {
            border-bottom: solid 2px #222;
            padding: 10px;
        }
        tr td {
            border-bottom: solid 1px #222;
            padding: 10px;
        }
    }
    &__title {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: bold;
        color: $primaryText;
    }
    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-form {
        &__item {
            margin-bottom: 30px;
        }
        &__title {
            margin-bottom: 10px;
            font-size: 20px;
            color: $primaryText;
        }
        &__text {
            @include formInput(#fff, (solid 1px $dividerColor), 800px, 50px, 20px, $primaryText, 1em);
        }
        &__file {
            display: flex;
            align-items: center;
            &-button {
                @include button(#fff, (solid 1px $dividerColor), 200px, 50px, 20px, $dividerColor);
                margin-right: 20px;
                &:hover {
                    @include button($dividerColor, none, 200px, 50px, 20px, #fff);
                }
            }
            &-input {
                display: none;
            }
            &-name {
                font-size: 20px;
            }
        }
        &__submit {
            @include formInput($primaryColor, none, 100px, 50px, 20px, #fff, none);
            &:hover {
                @include formInput($darkPrimaryColor, none, 100px, 50px, 20px, #fff, none);
            }
        }
    }
    &-disp {
        &__item {
            margin-bottom: 30px;
        }
        &__title {
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: bold;
            color: $primaryText;
        }
        &__value {
            font-size: 30px;
        }
        &__button {
            @include button($primaryColor, none, 200px, 50px, 20px, #fff);
            &:hover {
                @include button($darkPrimaryColor, none, 200px, 50px, 20px, #fff);
            }
        }
    }
}

//加盟店契約お申し込み
.application {
    width: 100%;
    &_header {
        margin: 50px 0;
        height: 100px;
        &_ttl {
            width: 100%;
            height: 50px;
            margin: 0 auto;
            text-align: center;
            line-height: 50px;
            color: $primaryText;
        }
        &_breadcrumbs {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 50px;
            line-height: 50px;
            color: $primaryText;
            &_item {
                &:not(:last-child)::after {
                    content: "\003e";
                    margin: 0 10px;
                }
                &_now {
                    color: #EEA34A;
                }
            }
        }
    }
    &-main {
        &-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__description {
                margin-bottom: 50px;
                font-size: 40px;
                font-weight: bold;
                line-height: 50px;
                text-align: left;
                color: $primaryText;
            }
            &__section {
                margin-bottom: 50px;
                width: 700px;
            }
            &__title {
                margin-bottom: 30px;
                font-size: 20px;
                font-weight: bold;
            }
            &__item {
                margin-bottom: 20px;
            }
            &__sub-title {
                margin-bottom: 10px;
            }
            &__text {
                @include formInput(#fff, (solid 1px $dividerColor), 700px, 50px, 20px, $primaryText, 1em);
            }
            &__submit {
                @include formInput($primaryColor, none, 300px, 50px, 20px, #fff, none);
                margin-bottom: 50px;
                &:hover {
                    @include formInput($darkPrimaryColor, none, 300px, 50px, 20px, #fff, none);
                }
            }
            &__button {
                @include button($primaryColor, none, 200px, 50px, 20px, #fff);
                margin-bottom: 50px;
                &:hover {
                    @include button($darkPrimaryColor, none, 200px, 50px, 20px, #fff);
                }
            }
            table {
                margin-bottom: 50px;
                tr th, td {
                    border: solid 1px $dividerColor;
                    padding: 30px;
                }
            }
        }
        &-disp {
            &__value {
                font-size: 30px;
                line-height: 50px;
            }
        }
    }
}

//メニューカード
.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dividerColor;
    margin-bottom: 50px;
    padding-bottom: 10px;
    width: 300px;
    &__name {
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
    }
    &__price {
        padding: 10px;
        line-height: 26px;
    }
    &-form {
        &__number {
            @include formInput(#fff, (solid 1px $dividerColor), 50px, 50px, 20px, $primaryText, 1em);
        }
        &__submit {
            @include formInput($primaryColor, none, 100px, 50px, 20px, #fff, none);
            &:hover {
                @include formInput($darkPrimaryColor, none, 100px, 50px, 20px, #fff, none);
            }
        }
    }
}
